<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/battlePokemon.css">
</head>
<body>
    <div class="pokemon">
        <div class="battlecircle">
          <div class="outercircle">
            <div class="innercicle">
            </div>
          </div>
        </div>
    
        <div class="battlecircle1">
          <div class="outercircle">
            <div class="innercicle">
            </div>
          </div>
        </div>
    
        <div class="opp">
          <div class="topbar">
            <p class="name">CHARMANDER</p>
            <p class="opplevel">Lv9</p>
          </div>
    
          <div class="hpbar">
            <div class="hp">
              <p>HP</p>
            </div>
    
            <div class="color">
              <div class="bar"></div>
            </div>
          </div>
        </div>
    
        <div class="player">
          <div class="topbar">
            <p class="name">PIDGEY</p>
            <p class="level">Lv11</p>
          </div>
    
          <div class="hpbar">
            <div class="hp">
              <p>HP</p>
            </div>
    
            <div class="pColor">
              <div class="bar"></div>
            </div>
          </div>
    
          <p class="pHealth"><span class="current">9</span>/32</p>
    
          <div class="expbar">
          </div>
        </div>
      </div>
    
    
    <div class="attack">
        <div class="attackBox">
        <div class="atktop">
            <p class="tackle">TACKLE</p>
            <p class="sandattack">SAND-ATTACK</p>
        </div>
    
        <div class="atkbottom">
            <div class="selected">
            <div class="arrow"></div>
            <p class="gust">GUST</p>
            </div>
            <p class="blank">---</p>
        </div>
        </div>
    
        <div class="ppBox">
        <div class="pptop">
            <p class="pp left">PP</p>
            <p class="pp right">32/35</p>
        </div>
        <div class="ppbottom">
            <p class="type">TYPE/<span class="flying">FLYING</span></p>
        </div>
    </div>
    <script src="/js/battlePokemon.js"></script>
</body>
</html>
