<!-- home.ejs -->
<%- include('./includes/head.ejs')%>
<%- include('./includes/navbar.ejs')%>

<div class="container mt-5">
  <h1>Bem-vindo à Pokédex</h1>
  <p class="lead">Esta é uma aplicação simples usando Bootstrap, Express, Node.js, MongoDB e a API PokeAPI. Faça login ou registre-se para começar.</p>
  <a href="/login" class="btn btn-primary btn-lg">Login</a>
  <a href="/register" class="btn btn-success btn-lg">Registrar</a>
</div>

<%- include('./includes/footer.ejs')%>
