<!-- login.ejs -->
<%- include('./includes/head.ejs')%>
<%- include('./includes/navbar.ejs')%>

<div class="container mt-5">
  <h1>Login</h1>
  
  <!-- Exibir mensagens de erro -->
  <% if (typeof errorMessage !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>

  <form action="/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<%- include('./includes/footer.ejs')%>
