<%- include('includes/head.ejs')%>
  <%- include('includes/nav.ejs')%>
  
  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
<%- include('includes/footer.ejs')%>
