
p{
    font-size:30px;
    margin:0;
    @import url("http://www.fontspace.com/jackster-productions/pokemon-gb");
    font-family:'pokemon-gb';
  }
  
  .holder{
    border: 1px solid black;
    width:1200px;
    height:850px;
    margin-bottom: 10px;
    background-color:red;
  }
  
  .opp{
    width:400px;
    height:90px;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    background-color: #FFE5AD;
    -webkit-box-shadow: 0px 40px 0px 13px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 40px 0px 13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.40);
    box-shadow-bottom-left-radius: 50%;
    margin: 50px 0 0 30px;
  }
  
  .player{
    width:400px;
    height:115px;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    background-color: #FFE5AD;
    -webkit-box-shadow: 0px 40px 0px 13px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 40px 0px 13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.40);
    box-shadow-bottom-left-radius: 50%;
    margin: 322px 0 0 750px;
  }
  
  .pokemon{
    /*THERE IS A PHANTOM ELEMENT... WHAT THE FUCK*/
    overflow:hidden;
    /* I NEED TO HIDE IT*/
    width:1200px;
    height:600px;
    background: linear-gradient(aliceblue,lightgreen);
  }
  
  .battlecircle{
    width:600px;
    height:300px;
    background-color:yellow;
    position:absolute;
    border-radius: 75%;
    margin: 100px 0 0 590px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .battlecircle1{
    width:600px;
    height:300px;
    background-color:yellow;
    position:absolute;
    border-radius: 75%;
    margin: 400px 0 0 0;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1
  }
  
  .outercircle{
    width:570px;
    height:280px;
    background-color:#0B9C04;
    border-radius:75%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .innercicle{
    width:540px;
    height:260px;
    border-radius:75%;
    background-color:#00FF14;
  }
  
  .topbar{
    display:flex;
    flex-direction:row;
    margin: 10px 0 0 10px;
  }
  
  .name{
      
  }
  
  .name::after{
    /*Change this for either M or F, */
    /* 
      content:"\2640";
      color:pink;
    */
    content:"\2642";
    color:blue;
    margin-left: 10px;
  }
  
  .level{
    margin-left:170px;
  }
  
  .opplevel{
    margin-left:90px;
  }
  
  .hp{
    margin-left:10px;
    color:gold;
  }
  
  .hp>p{
    font-size:30px;
  }
  
  .hpbar{
    display:flex;
    width:314px;
    height:22px;
    background-color:#0B1A1D;
    border-radius: 10px;
    align-items:center;
    margin: 10px 0 0 80px;
  }
  
  .bar{
    width:265px;
    height:20px;
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 0px 5px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 0px 5px rgba(255,255,255,1);
    border-radius: 10px;
    margin-left: -5px;
  }
  
  .color{
    width:255px;
    height:20px;
    background-color:green;
    border-radius: 10px;
    margin-left:5px;
  }
  
  .pColor{
    width:71px;
    height:20px;
    background-color:#cccc00;
    border-radius: 10px;
    margin-left:5px;
  }
  
  .pHealth{
    margin-left:330px;
  }
  
  .expbar{
    
  }
  
  .attack{
    width:1200px;
    height:250px;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
    z-index:99;
  }
  
  .attackBox{
    width:730px;
    height:230px;
    background-color:white;
    margin-left:10px;
    -webkit-box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    -moz-box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    border-radius:10px;
  }
  
  .ppBox{
    width:430px;
    height:230px;
    background-color:white;
    margin-right:10px;
    -webkit-box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    -moz-box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    box-shadow: inset 0px 0px 0px 9px rgba(107,63,107,1);
    border-radius:10px;
  }
  
  .atktop{
    width:730px;
    height:115px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  
  .tackle{
    margin-left: 100px;
  }
  
  .sandattack{
    margin-right:100px;
  }
  
  .atkbottom{
    width:730px;
    height:115px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  
  .arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent       transparent #000000;
  }
  
  .selected{
    display:flex;
    margin-left:60px;
  }
  
  .gust{
    margin-left:10px;
  }
  
  .blank{
    margin-right:278px;
  }
  
  .pptop{
    width:430px;
    height:115px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  
  .ppbottom{
    width:430px;
    height:115px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .pp{
    font-weight:bold;
    font-size:50px;
  }
  
  .right{
    margin-right:15px;
  }
  
  .left{
    margin-left:15px;
  }
  
  .type{
    font-size:50px;
  }
  
  .flying{
    font-size:60px;
  }
  
  /* animation
  @keyframes Health{
    0%{
      width:255px;
      background:green;
    }
    
    100%{
      width: 0px;
      background-color:red;
    }
  }
  */